@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

#map {
  background-color: rgb(0, 0, 0);
  height: 100vh;
}

.leaflet-top {
  padding: 500;
}

.leaflet-popup-content {
  text-align: center;
  margin: 0;
  font-weight: bold;
}

#MarkFoundButton {
  width: 150px;
  height: 25px;
  border-radius: 5px;
  border: none;
  background-color: rgb(200, 200, 200);
}

